label, select, input{
  width: 150px;
  display: inline-block;
  margin: 5px 0;
}

body{
  background: #FFBB3F;
  font-family: Calibri, sans-serif;
  color: #341401;
}

th {
  text-align: left;
  padding: 10px;
  font-size: 20px;
}

td {
  padding: 10px;
  border: 1px solid black;
  background-color: #d9d3d3;
}

table {
  margin: auto;
  border-collapse: separate;
  border: 1px solid black;
}

